<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    Practice for VueJS by Allen
        
    <div id="practice-6">
        <label>練習6. computed(計算屬性)</label>

        <div>
            <input type="text" v-model="defaultNum1"/>
            <span>&times;</span>
            <input type="text" v-model="defaultNum2"/>
            <span>&equals;</span>
            <span>{{totalNum}}</span>
        </div>
        
    </div>
</body>
<script src="scripts/p6_computed.js"></script>
</html>